.Blob {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #0D0630;
   /* background-color: #231b4b; */
 
 
}




.bars {
  /*   background-color:pink; */
  position: absolute;
  width: 27px;
  height: 27px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 101;
  padding-top: 9px;
  display: flex;
  justify-content: left;
  align-items: left;
}
@media screen and(max-width:720px) {
  .bars{
    width:15px;
    height:15px;
    padding-top:0;
    position:absolute;
    left:20px;
  }
  .bar{
    height:2px;
    width:100%;
  }
 
}
.bar {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 50px;
}

span::before,
span::after {
  content: "";
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 4px;
  position: absolute;
  border-radius: 50px;
}

.bar::before {
  transform: translateY(-9px);
}

.bar::after {
  transform: translateY(9px);
}

.bars.active .bar {
  background-color: transparent;
  right:25px;
}

.bars.active span::before {
  animation: top-bar 1s;
  animation-fill-mode: forwards;
}

.bars.active span::after {
  animation: bottom-bar 1s;
  animation-fill-mode: forwards;
}


/* Navbar Links CSS */

#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

#nav a {
  color: #ffffff;
  text-decoration: none;
  line-height: 70vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-indent: 50vw;
  border-radius: 50%;
  transition: all .5s;
}

#nav a:hover {
  background: #260b35;

}

ul {
  list-style: none;
}

.visible {
  z-index: 100 !important;
  opacity: 1 !important;
}

.shape-circle {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  top: -10vw;
  right: -10vw;
  position: absolute;
  transition: all 1s ease-in-out;
  background: #491564;
  box-shadow: 0 0px 0px rgba(102, 103, 105, 0.5);
}

nav.visible li:first-child {
  width: 200vw;
  height: 200vw;
  top: -100vw;
  right: -100vw;
  z-index: 5;
  transition: all .5s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(2) {
  width: 150vw;
  height: 150vw;
  top: -75vw;
  right: -75vw;
  z-index: 6;
  transition: all .6s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(3) {
  width: 100vw;
  height: 100vw;
  top: -50vw;
  right: -50vw;
  z-index: 7;
  transition: all .7s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:last-child {
  width: 50vw;
  height: 50vw;
  top: -25vw;
  right: -25vw;
  z-index: 8;
  transition: all .8s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child a {
  line-height: 265vw !important;
  text-indent: 15vw !important;

}

nav.visible li:nth-child(2) a {
  line-height: 200vw !important;
  text-indent: 17vw !important;
}

nav.visible li:nth-child(3) a {
  line-height: 137vw !important;
  text-indent: 17vw !important;

}

nav.visible li:last-child a {
  line-height: 70vw !important;
  text-indent: 12vw !important;
}


/* Main Body CSS */


@keyframes top-bar {
  50% {
    transform: translateY(0);
  }

  100% {
    transform: rotate(45deg) translateY(0);
  }
}

@keyframes bottom-bar {
  50% {
    transform: translateY(0);
  }

  100% {
    transform: rotate(-45deg) translateY(0);
  }
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 306px;
  height: 306px;


}

.square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
}

.SVG {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 60%;

}

.animatie_patrat {
  --glow-color: rgb(127, 4, 241);
  --glow-spread-color: rgba(121, 0, 235, 0.781);
  --enhanced-glow-color: rgb(125, 29, 216);
  --btn-color: rgb(52, 8, 90);

  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}



.square:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  cursor: pointer;
}

.square:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}

#square1 {
  border-bottom: 1px solid rgb(127, 4, 241);
  border-right: 1px solid rgb(127, 4, 241);

}

#square2 {
  /* border-left:1px solid black; */
  border-bottom: 1px solid rgb(127, 4, 241);
}

#square3 {
  border-left: 1px solid rgb(127, 4, 241);
  border-bottom: 1px solid rgb(127, 4, 241);
}

#square4 {
  border-bottom: 1px solid rgb(127, 4, 241);
  border-right: 1px solid rgb(127, 4, 241);
}

#square5 {
  border-bottom: 1px solid rgb(127, 4, 241);
  border-right: 1px solid rgb(127, 4, 241);
}

#square6 {
  border-bottom: 1px solid rgb(127, 4, 241);
}

#square7 {
  /* border-bottom:1px solid black; */
  border-right: 1px solid rgb(127, 4, 241);
}

#square8 {
  /* border-bottom:1px solid black; */
  border-right: 1px solid rgb(127, 4, 241);
}

#square9 {
  /* border-bottom:1px solid black; */
}

#anunt_castigator {
  text-align: center;
  font-size: 30px;
  color:white;
  
}

.text_animation {
  animation: shake3856 0.3s linear 4 both;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.buton_reset_tictac {
  /* border-bottom: 1px solid rgb(127, 4, 241); */
  /* border-right: 1px solid rgb(127, 4, 241); */
  height: 50px;
  /* border-top: 1px solid rgb(127, 4, 241); */
  /* border-left: 1px solid rgb(127, 4, 241); */
  border-radius: 1em;
  text-align: center;
  color: white;
  text-align: center;
  cursor: pointer;
  width:306px;

}

a{
  text-decoration: none;
}

.buton_reset_tictac:hover{
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  cursor: pointer;
}

.buton_reset_tictac:active{
  box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}
.Buton_Home{
  background-color:   rgb(52, 8, 90);
  width:100px;
  height:50px;
  border-radius:1em;
  border:none;
  color: white;
  text-align: center;
  cursor: pointer;
  width:306px;
}

.Buton_Home:active{
  box-shadow: 0 0 0.6em .25em var(--glow-color),
  0 0 2.5em 2em var(--glow-spread-color),
  inset 0 0 .5em .25em var(--glow-color);

}
.Buton_Home:hover{
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  cursor: pointer;

}